<!doctype html>

<html lang="pl">
    <head>
        <title>{{ block('title') ?? 'Bez tytułu' }} — Mocnych ofert generator</title>
        <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            th.table-minimal { width: 13%; min-width: 110px; }
        </style>
    </head>

    <body style="overflow-y: scroll">
        <header class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
            <div class="container d-block d-md-flex">
                <h1 class="mb-0 navbar-brand">
                    <a href="{{ path('generator.form') }}" class="navbar-brand">
                        Mocnych ofert generator <span style="opacity: 0.4">v{{ version }}</span> 💪
                    </a>
                </h1>

                <ul class="navbar-nav ml-auto mr-md-n1">
                    {% set route = app.request.attributes.get('_route') %}
                    <li class="nav-item {{ route == 'generator.form' ? 'active' }} mr-3">
                        <a class="nav-link" href="{{ path('generator.form') }}">Generuj ofertę</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link disabled">Zarządzaj:</span>
                    </li>
                    <li class="nav-item {{ route == 'item.list' ? 'active' }}">
                        <a class="nav-link" href="{{ path('item.list') }}">Pozycje</a>
                    </li>
                    <li class="nav-item {{ route == 'discount.list' ? 'active' }}">
                        <a class="nav-link" href="{{ path('discount.list') }}">Rabaty</a>
                    </li>
                    <li class="nav-item {{ route == 'author.list' ? 'active' }}">
                        <a class="nav-link" href="{{ path('author.list') }}">Osoby</a>
                    </li>
                </ul>
            </div>
        </header>

        <main class="container mt-4 mb-5">
            <div class="row">
                <div class="col">
                    <h2 class="mb-4">{{ block('title') ?? 'Bez tytułu' }}</h2>
                </div>
                <div class="col-auto">
                    {% block after_title_widget %}{% endblock %}
                </div>
            </div>

            {% block body %}{% endblock %}
        </main>

        <script>
        (function(){
            var buttonWithConfirmation = document.querySelector('.button-needs-confirm');

            if (!buttonWithConfirmation) {
                return;
            }

            buttonWithConfirmation.addEventListener('click', function(event){
                if (!window.confirm('Czy na pewno usunąć? NIE MOŻNA COFNĄĆ!')) {
                    event.preventDefault();
                }
            })
        })();
        </script>
    </body>
</html>
