{% extends 'app/base.html.twig' %}
{% form_theme form with "bootstrap_4_layout.html.twig" only %}

{% block title %}Generuj ofertę{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm">
                {{ form_row(form.author, {attr: {class: 'author-input'}}) }}
                {{ form_row(form.expirationDate) }}
            </div>
            <div class="col-sm">
                {{ form_row(form.recipient_company) }}
                {{ form_row(form.recipient_name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                {{ form_row(form.items) }}
            </div>
            <div class="col-lg">
                {{ form_row(form.discounts) }}
            </div>
        </div>

        <div class="mt-2">
            {{ form_row(form.generate) }}
        </div>
    {{ form_end(form) }}

    <script>
    (function(){
        const SESS_ITEM_AUTHOR = 'generator_form_saved_author';
        var authorInput = document.querySelector('.author-input');

        authorInput.addEventListener('change', function(){
            localStorage.setItem(SESS_ITEM_AUTHOR, authorInput.value);
        })
        authorInput.value = localStorage.getItem(SESS_ITEM_AUTHOR);
    })();
    </script>
{% endblock %}
