{% extends 'document-layout.html.twig' %}

{% block html_head %}
    <style>
        body {
            font-family: "Segoe UI", "Tahoma", "Arial";
        }
        .content {
            padding: 10% 10%;
        }
        h1 {
            font-size: 45px;
            margin-top: 40px;
        }
    </style>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h1>Oferta</h1>

    <h2>Sporządzona przez:</h2>
    <p>
        {{ offer.author.name }}
        {% if offer.author.title %}
            <br>{{ offer.author.title }}
        {% endif %}
        {% if offer.author.email %}
            <br>e-mail: {{ offer.author.email }}
        {% endif %}
        {% if offer.author.phone %}
            <br>telefon: {{ offer.author.phone }}
        {% endif %}
    </p>

    <h2>Przygotowana dla:</h2>
    <p>
        {% if offer.recipient.name %}
            {{ offer.recipient.name }}<br>
        {% endif %}
        {{ offer.recipient.company }}
    </p>

    <p>
        <br>
        Oferta ważna do: {{ offer.expirationDate|localized_date }}.
    </p>
{% endblock %}

{% block footer %}
{% endblock %}
