{% extends 'app/base.html.twig' %}

{% block title %}Edytuj osobę „{{ author.name }}”{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn-primary btn">Zapisz zmiany</button>
    {{ form_end(form) }}
{% endblock %}

{% block after_title_widget %}
    <a href="{{ path('author.remove', {id: author.id}) }}" class="btn btn-danger button-needs-confirm">Usuń osobę</a>
{% endblock %}
