{% extends 'app/base.html.twig' %}

{% block title %}Rabaty{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right table-minimal">Numer</th>
                <th class="text-right table-minimal">Wartość</th>
                <th>Nazwa</th>
            </tr>
        </thead>
        <tbody>
            {% for discount in discounts %}
                <tr>
                    <td class="text-right">
                        {{ discount.position }}
                    </td>
                    <td class="text-right">
                        {{ format_discount_value(discount) }}
                    </td>
                    <td>
                        <a href="{{ path('discount.edit', {id: discount.id}) }}" class="d-block">
                            {{ discount.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block after_title_widget %}
    <a href="{{ path('discount.create') }}" class="btn btn-primary">Nowy rabat</a>
{% endblock %}
