{% extends 'app/base.html.twig' %}

{% block title %}Rabaty{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Wartość</th>
                <th>Numer</th>
            </tr>
        </thead>
        <tbody>
            {% for discount in discounts %}
                <tr>
                    <td>
                        <a href="{{ path('discount.edit', {id: discount.id}) }}" class="d-block">
                            {{ discount.name }}
                        </a>
                    </td>
                    <td>
                        <span class="text-right d-block" style="max-width: 100px">
                            {{ format_discount_value(discount) }}
                        </span>
                    </td>
                    <td>
                        <span class="text-right d-block" style="max-width: 40px">
                            {{ discount.position }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block after_title_widget %}
    <a href="{{ path('discount.create') }}" class="btn btn-primary">Nowy rabat</a>
{% endblock %}
