{% extends 'app/base.html.twig' %}

{% block title %}Edytuj rabat „{{ discount.name }}”{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn-primary btn">Zapisz zmiany</button>
    <a href="{{ path('discount.remove', {id: discount.id}) }}" class="btn btn-danger float-right">Usuń rabat</a>
    {{ form_end(form) }}
{% endblock %}
