{% extends 'app/base.html.twig' %}

{% block title %}Pozycje{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right table-minimal">Numer</th>
                <th class="text-right table-minimal">Cena</th>
                <th>Nazwa</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td class="text-right">
                        {{ item.position }}
                    </td>
                    <td class="text-right">
                        {{ format_price(item.price) }}
                    </td>
                    <td>
                        <a href="{{ path('item.edit', {id: item.id}) }}" class="d-block">
                            {{ item.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block after_title_widget %}
    <a href="{{ path('item.create') }}" class="btn btn-primary">Nowa pozycja</a>
{% endblock %}
