{% extends 'app/base.html.twig' %}

{% block title %}Edytuj pozycję „{{ item.name }}”{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn-primary btn">Zapisz zmiany</button>
    {{ form_end(form) }}
{% endblock %}

{% block after_title_widget %}
    <a href="{{ path('item.remove', {id: item.id}) }}" class="btn btn-danger button-needs-confirm">Usuń pozycję</a>
{% endblock %}
